# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/tf-debug.log
**/crash.log
**/crash.*.log
**/*tfplan*

# tfvars: نخليها محلية فقط
**/*.tfvars
!**/*.tfvars.template
!**/*.tfvars.example

# kubectl binaries
kubectl
kubectl.exe
kubectl.sha256
