apiVersion: batch/v1
kind: Job
metadata:
  name: mongo-seed-movies
spec:
  backoffLimit: 2
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: seed
        image: mongo:7
        command:
        - sh
        - -lc
        - |
          echo "Waiting for mongo..."
          until mongosh "mongodb://mongo:27017/movie_manager" --eval 'db.runCommand({ ping: 1 })' >/dev/null 2>&1; do
            sleep 2
          done
          echo "Seeding..."
          mongosh "mongodb://mongo:27017/movie_manager" /seed/seed.js
        volumeMounts:
        - name: seed
          mountPath: /seed
      volumes:
      - name: seed
        configMap:
          name: movie-manager-seed
