apiVersion: batch/v1
kind: Job
metadata:
  name: mongo-seed-movies
spec:
  ttlSecondsAfterFinished: 300
  backoffLimit: 1
  template:
    metadata:
      labels:
        app: mongo-seed
    spec:
      restartPolicy: Never
      containers:
        - name: mongo-seed
          image: mongo:6
          command: ["sh", "-lc"]
          args:
            - |
              echo "Waiting for Mongo...";
              until mongosh "mongodb://mongo:27017/moviedb" --quiet --eval "db.runCommand({ ping: 1 }).ok" | grep -q "1"; do
                sleep 2;
              done
              echo "Mongo is up. Running seed..."
              mongosh "mongodb://mongo:27017/moviedb" /seed/seed.js
              echo "Seed finished."
          volumeMounts:
            - name: seed-scripts
              mountPath: /seed
      volumes:
        - name: seed-scripts
          configMap:
            name: movie-manager-seed
            items:
              - key: seed-movies.js
                path: seed.js
