apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: movie-manager-ingress
  annotations:
    kubernetes.io/ingress.global-static-ip-name: movie-manager-ip
spec:
  ingressClassName: gce
  rules:
  - http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: movie-manager-backend
            port:
              number: 5000
      - path: /
        pathType: Prefix
        backend:
          service:
            name: movie-manager-frontend
            port:
              number: 80
